.contact {
    background-color: $color-background;
    text-align: center;

    &__container {
        max-width: 700px;
        margin: 0 auto;
    }

    &__description {
        font-size: 1.1rem;
        color: $color-text-secondary;
        margin-bottom: $spacing-unit * 3;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit * 2;
}

.form-group {
    text-align: left;
}

.form-label {
    display: block;
    margin-bottom: $spacing-unit * 0.5;
    font-weight: 500;
    color: $color-text-secondary;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: $spacing-unit * 1.2;
    background-color: $color-surface;
    border: 1px solid darken($color-surface, 5%);
    border-radius: 5px;
    color: $color-text-primary;
    font-family: $font-secondary;
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
        outline: none;
        border-color: $color-primary;
    }
}

.form-textarea {
    resize: vertical; // Permite al usuario ajustar la altura
}