@use '../abstracts/variables' as *;

.skills {
    background-color: var(--color-background);
    text-align: center;
    transition: background-color 0.3s ease;

    &__container {
        max-width: 900px;
        margin: 0 auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: $spacing-unit * 2.5;
        margin-top: $spacing-unit * 4;
    }
}

// Estilos para el efecto FLIP
.skill-card {
    background-color: transparent; // El contenedor principal es transparente
    height: 160px; // Damos una altura fija para el efecto 3D
    perspective: 1000px; // Activa la perspectiva 3D

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    &:hover &__inner {
        transform: rotateY(180deg); // Gira el contenedor al hacer hover
    }

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; // Oculta la cara trasera de un elemento
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-unit * 1.5;
    }

    &__front {
        background-color: var(--color-surface);
        border: 1px solid rgba(var(--color-text-primary-rgb), 0.1);
    }

    &__back {
        background-color: var(--color-primary);
        color: var(--color-background);
        transform: rotateY(180deg); // La cara trasera empieza girada
        padding: $spacing-unit;
    }

    &__icon {
        font-size: 3.5rem;
        color: var(--color-primary);
    }

    &__name {
        font-family: $font-secondary;
        font-weight: 500;
        color: var(--color-text-secondary);
        margin: 0;
    }

    &__description {
        font-family: $font-secondary;
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 0;
    }
}


@media (max-width: 992px) {
    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}