// Ajustes específicos para el tema claro
html[data-theme='light'] {
    .skill-card,
    .project-card,
    .form-input,
    .form-textarea,
    .footer {
        border: 1px solid #e2e8f0; // Un borde muy sutil
    }

    .project-card {
        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    }
    
    .skill-card:hover {
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    }
}