@use '../abstracts/variables' as *;
.button {
    display: inline-block;
    padding: ($spacing-unit * 0.8) ($spacing-unit * 2.5);
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

    &--primary {
        background-color: var(--color-primary);
        color: var(--color-background);
        border-color: var(--color-primary);

        &:hover {
            background-color: transparent;
            color: var(--color-primary);
        }
    }
    &--secondary {
        background-color: transparent;
        color: var(--color-text-secondary);
        border-color: 	var(--color-surface);

        &:hover {
            color: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
}