*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $color-background;
    color: $color-text-primary;
    font-family: $font-secondary;
}

// Estilos para el efecto de cursor "spotlight"
.spotlight {
  position: fixed;
  // Lo posicionamos en la esquina superior izquierda por defecto
  left: 0;
  top: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba($color-primary, 0.08), transparent 50%);
  pointer-events: none;
  // Lo ocultamos al inicio para que aparezca suavemente
  opacity: 0;
  // La transición ahora también afectará a la opacidad
  transition: transform 0.1s ease-out, opacity 0.3s ease-out;
  z-index: 9999;
}

// En dispositivos táctiles donde no hay cursor, lo ocultamos.
@media (pointer: coarse) {
  .spotlight {
    display: none;
  }
}

// Ocultamos el cursor por defecto en todo el body
body {
  cursor: none;
}

// Estilos para nuestro cursor personalizado

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 10000;
  opacity: 0; 
  
  // AÑADE 'opacity' A LA TRANSICIÓN PARA QUE APAREZCA SUAVEMENTE
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease, background-color 0.2s ease, opacity 0.3s ease-out;

  &.hovered {
    width: 50px;
    height: 50px;
    background-color: rgba($color-primary, 0.2);
  }
}

// Ocultamos nuestro cursor personalizado en dispositivos táctiles
@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}