//================================================
// 1. VARIABLES FIJAS (SASS)
//================================================
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$spacing-unit: 1rem;